<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Restful-Booker Suite" parallel="methods" thread-count="5">

    <test name="All Tests">
        <classes>
            <class name="com.restfulBooker.tests.AuthTest"/>
            <class name="com.restfulBooker.tests.BookingTest"/>
        </classes>
    </test>

</suite>